<!DOCTYPE html>

<html lang='en'>
	<head>
		<title>Login / Registration - Home</title>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'users/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
	</head>
	<body>
		<div class='wrapper'>
			<div class='topbar'>
				<div class='topbar_ul_container'>
					<ul class='topbar_info'>
						<li><p>Welcome!</p></li>
					</ul>
				</div>
			</div>
			{% if messages %}
				<ul class='errors'>
				{% for message in messages %}
					<li><p class='error_message'> {{message}} </p></li>
				{% endfor %}
				</ul>
			{% endif %}
			<div class='registrationContainer'>
				<p>Register</p>
				<form action='/users/register' method='POST'>
					{% csrf_token %}
					<label for='first_name'>First Name:</label>
					<input type='text' name='first_name' id='first_name' value = {{request.session.first_name}}>
					<label for='last_name'>Last Name:</label>
					<input type='text' name='last_name' id='last_name' value = {{request.session.last_name}}>
					<label for='email'>Email:</label>
					<input type='text' name='email' id='email' value = {{request.session.email}}>
					<label for='password'>Password:</label>
					<input type='password' name='password' id='password'>
					<label for='password_confirm'>Confirm PW:</label>
					<input type='password' name='password_confirm' id='password_confirm'>
					<button type='submit' name='submit' id='submit'> Register! </button>
				</form>
			</div>
		</div>
	</body>
</html>